In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("optimization").getOrCreate()
spark

In [2]:
df = spark.read.csv("Flight_Schedule.csv", inferSchema = True, header=True)

df.show()

+------------+-------+---------+-----------+--------------------+----------------------+--------------------+----------+----------+
|flightNumber|airline|   origin|destination|           dayOfWeek|scheduledDepartureTime|scheduledArrivalTime| validFrom|   validTo|
+------------+-------+---------+-----------+--------------------+----------------------+--------------------+----------+----------+
|         425|  GoAir|    Delhi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 05:45:00|                NULL|28-10-2018|30-03-2019|
|         423|  GoAir|    Delhi|  Hyderabad|            Saturday|   2025-04-23 07:30:00|                NULL|28-10-2018|28-10-2018|
|         423|  GoAir|    Delhi|  Hyderabad|              Friday|   2025-04-23 07:30:00|                NULL|03-11-2018|01-12-2018|
|         423|  GoAir|    Delhi|  Hyderabad|              Friday|   2025-04-23 07:30:00|                NULL|02-02-2019|30-03-2019|
|         423|  GoAir|    Delhi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 07:30:00|                NULL|29-10-2018|30-11-2018|
|         423|  GoAir|    Delhi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 07:30:00|                NULL|01-02-2019|29-03-2019|
|         423|  GoAir|    Delhi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 07:30:00|                NULL|02-12-2018|31-01-2019|
|         422|  GoAir|    Delhi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 20:55:00|                NULL|28-10-2018|30-03-2019|
|         559|  GoAir|  Lucknow|  Hyderabad|Sunday,Tuesday,We...|   2025-04-23 15:45:00| 2025-04-23 17:45:00|28-10-2018|30-03-2019|
|         580|  GoAir|    Kochi|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 04:45:00| 2025-04-23 06:15:00|28-10-2018|30-03-2019|
|         587|  GoAir|    Kochi|  Hyderabad|Sunday,Tuesday,We...|   2025-04-23 17:20:00| 2025-04-23 19:20:00|28-10-2018|30-03-2019|
|         587|  GoAir|    Kochi|  Hyderabad|              Monday|   2025-04-23 17:50:00| 2025-04-23 19:20:00|28-10-2018|30-03-2019|
|         553|  GoAir|Ahmedabad|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 11:05:00| 2025-04-23 12:45:00|29-10-2018|30-03-2019|
|         552|  GoAir|Ahmedabad|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 20:35:00| 2025-04-23 22:20:00|28-10-2018|30-03-2019|
|         553|  GoAir|Ahmedabad|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 11:00:00| 2025-04-23 12:45:00|01-04-2019|26-10-2019|
|         552|  GoAir|Ahmedabad|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 20:40:00| 2025-04-23 22:20:00|31-03-2019|26-10-2019|
|         701|  GoAir|   Jaipur|  Hyderabad|            Saturday|   2025-04-23 08:55:00| 2025-04-23 10:55:00|28-10-2018|24-03-2019|
|         431|  GoAir|   Jaipur|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 12:45:00| 2025-04-23 15:05:00|28-10-2018|30-03-2019|
|         385|  GoAir|   Jaipur|  Hyderabad|Sunday,Monday,Tue...|   2025-04-23 17:55:00|                NULL|28-10-2018|30-03-2019|
|         894|  GoAir|Bengaluru|  Hyderabad|            Saturday|   2025-04-23 11:30:00| 2025-04-23 12:40:00|28-10-2018|24-03-2019|
+------------+-------+---------+-----------+--------------------+----------------------+--------------------+----------+----------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import dayofmonth, year, month, to_date, col

splitData = df.withColumn("validFromDate", to_date(col("validFrom"), "dd-MM-yyyy")) \
            .withColumn("validFromYear", year(col("validFromDate"))) \
            .withColumn("validFromMonth", month(col("validFromDate"))) \
            .withColumn("validFromDate", dayofmonth(col("validFromDate"))) \
            .withColumn("validToDate", to_date(col("validTo"), "dd-MM-yyyy")) \
            .withColumn("validToYear", year(col("validToDate"))) \
            .withColumn("validToMonth", month(col("validToDate"))) \
            .withColumn("validToDate", dayofmonth(col("validToDate")))
splitData.select("flightNumber","airline","origin","destination","validFromDate", "scheduledDepartureTime","dayOfWeek","validToDate", "validFromYear","validToYear","validFromMonth","validToMonth") \
             .distinct().show()

+------------+-------------+---------+-----------+-------------+----------------------+--------------------+-----------+-------------+-----------+--------------+------------+
|flightNumber|      airline|   origin|destination|validFromDate|scheduledDepartureTime|           dayOfWeek|validToDate|validFromYear|validToYear|validFromMonth|validToMonth|
+------------+-------------+---------+-----------+-------------+----------------------+--------------------+-----------+-------------+-----------+--------------+------------+
|         120|        GoAir|Bengaluru|      Delhi|            2|   2025-04-23 11:35:00|              Monday|         22|         2019|       2019|             4|          10|
|         633|        GoAir|Ahmedabad|       Pune|           28|   2025-04-23 21:10:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         514|    Air India|     Pune|  Hyderabad|           28|   2025-04-23 15:05:00|Sunday,Monday,Tue...|         29|         2018|       2018|            10|          11|
|         505|    Air India|Bengaluru|      Delhi|           28|   2025-04-23 10:00:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         512|    Air India|    Delhi|      Kochi|           28|   2025-04-23 14:10:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         564|    Air India|Bengaluru|    Chennai|           30|   2025-04-23 11:40:00|              Monday|         26|         2018|       2019|            10|           3|
|        3714|    Air India|   Imphal|    Kolkata|           31|   2025-04-23 16:45:00|      Tuesday,Friday|         30|         2018|       2019|            10|           3|
|        1324|AirAsia India|Bengaluru|        Goa|            1|   2025-04-23 06:05:00|Sunday,Monday,Tue...|         26|         2019|       2019|             4|          10|
|         452|  Jet Airways|Hyderabad|     Mumbai|           28|   2025-04-23 18:00:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         330|  Jet Airways|Ahmedabad|     Mumbai|           28|   2025-04-23 21:30:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         414|  Jet Airways|   Mumbai|    Chennai|           28|   2025-04-23 08:40:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|         767|   TestIndigo|    Delhi|  Hyderabad|           28|   2025-04-23 22:35:00|Sunday,Monday,Tue...|         29|         2018|       2019|            10|           3|
|         471|   TestIndigo|   Jaipur|  Hyderabad|           16|   2025-04-23 16:40:00|Sunday,Monday,Tue...|         30|         2019|       2019|             2|           3|
|        2132|   TestIndigo|Bengaluru|      Delhi|           31|   2025-04-23 06:00:00|Sunday,Monday,Tue...|         25|         2019|       2019|             3|          10|
|         356|   TestIndigo|Bengaluru|     Nagpur|           16|   2025-04-23 14:15:00|Sunday,Tuesday,We...|         30|         2019|       2019|             2|           3|
|         959|   TestIndigo|    Delhi|    Lucknow|           28|   2025-04-23 16:40:00|Sunday,Monday,Tue...|         30|         2018|       2019|            10|           3|
|        6446|   TestIndigo|   Mumbai|    Lucknow|           28|   2025-04-23 18:50:00|Sunday,Monday,Tue...|          1|         2018|       2018|            10|          12|
|         223|   TestIndigo|   Mumbai|      Kochi|           28|   2025-04-23 13:35:00|Sunday,Tuesday,We...|         30|         2018|       2019|            10|           3|
|        6523|   TestIndigo|  Kolkata|     Imphal|           16|   2025-04-23 09:05:00|Sunday,Monday,Tue...|         30|         2019|       2019|             2|           3|
|         995|   TestIndigo|Hyderabad|  Ahmedabad|           28|   2025-04-23 05:20:00|            Saturday|         28|         2018|       2018|            10|          10|
+------------+-------------+---------+-----------+-------------+----------------------+--------------------+-----------+-------------+-----------+--------------+------------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import struct

splitData.createOrReplaceTempView("flights")
dfStruct = df.select("flightNumber", "airline", struct("origin", "destination","scheduledDepartureTime").alias("routeInformation"), "dayOfWeek").show(5, truncate=False)

+------------+-------+---------------------------------------+--------------------------------------------------------+
|flightNumber|airline|routeInformation                       |dayOfWeek                                               |
+------------+-------+---------------------------------------+--------------------------------------------------------+
|425         |GoAir  |{Delhi, Hyderabad, 2025-04-23 05:45:00}|Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday|
|423         |GoAir  |{Delhi, Hyderabad, 2025-04-23 07:30:00}|Saturday                                                |
|423         |GoAir  |{Delhi, Hyderabad, 2025-04-23 07:30:00}|Friday                                                  |
|423         |GoAir  |{Delhi, Hyderabad, 2025-04-23 07:30:00}|Friday                                                  |
|423         |GoAir  |{Delhi, Hyderabad, 2025-04-23 07:30:00}|Sunday,Monday,Tuesday,Wednesday,Thursday,Saturday       |
+------------+-------+---------------------------------------+--------------------------------------------------------+
only showing top 5 rows

In [8]:
from pyspark.sql.functions import split, array_contains

df_with_array = df.select(
    "flightNumber",
    "airline",
    "origin",
    "destination",
    split("dayOfWeek", ",").alias("days_array")
)
df_sunday_flights = df_with_array.filter(array_contains("days_array", "Sunday")).show(5, truncate=False)

+------------+-------+------+-----------+----------------------------------------------------------------+
|flightNumber|airline|origin|destination|days_array                                                      |
+------------+-------+------+-----------+----------------------------------------------------------------+
|425         |GoAir  |Delhi |Hyderabad  |[Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday]|
|423         |GoAir  |Delhi |Hyderabad  |[Sunday, Monday, Tuesday, Wednesday, Thursday, Saturday]        |
|423         |GoAir  |Delhi |Hyderabad  |[Sunday, Monday, Tuesday, Wednesday, Thursday, Saturday]        |
|423         |GoAir  |Delhi |Hyderabad  |[Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday]|
|422         |GoAir  |Delhi |Hyderabad  |[Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday]|
+------------+-------+------+-----------+----------------------------------------------------------------+
only showing top 5 rows