In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Bucketing").getOrCreate()

spark

In [35]:
dftrue = spark.read.csv("superstore.csv", header = True, inferSchema = True)
dftrue.show(5)
dftrue.printSchema()

+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+
|       Category|       City|      Country|Customer.ID|   Customer.Name|Discount|Market|记录数|         Order.Date|      Order.ID|Order.Priority|     Product.ID|        Product.Name| Profit|Quantity|Region|Row.ID|Sales| Segment|           Ship.Date|     Ship.Mode|Shipping.Cost|     State|Sub.Category|Year|      Market2|weeknum|
+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+
|Office Supplies|Los Angeles|United States|  LS-172304|Lycoris Saunders|     0.0|    US|     1|2011-01-07 00:00:00|CA-2011-130813|          High|OFF-PA-10002005|           Xerox 225| 9.3312|       3|  West| 36624|   19|Consumer|2011-01-09 00:00:...|  Second Class|         4.37|California|       Paper|2011|North America|      2|
|Office Supplies|Los Angeles|United States|  MV-174854|   Mark Van Huff|     0.0|    US|     1|2011-01-21 00:00:00|CA-2011-148614|        Medium|OFF-PA-10002893|"Wirebound Servic...| 9.2928|       2|  West| 37033|   19|Consumer|2011-01-26 00:00:...|Standard Class|         0.94|California|       Paper|2011|North America|      4|
|Office Supplies|Los Angeles|United States|  CS-121304|    Chad Sievert|     0.0|    US|     1|2011-08-05 00:00:00|CA-2011-118962|        Medium|OFF-PA-10000659|Adams Phone Messa...| 9.8418|       3|  West| 31468|   21|Consumer|2011-08-09 00:00:...|Standard Class|         1.81|California|       Paper|2011|North America|     32|
|Office Supplies|Los Angeles|United States|  CS-121304|    Chad Sievert|     0.0|    US|     1|2011-08-05 00:00:00|CA-2011-118962|        Medium|OFF-PA-10001144|          Xerox 1913|53.2608|       2|  West| 31469|  111|Consumer|2011-08-09 00:00:...|Standard Class|         4.59|California|       Paper|2011|North America|     32|
|Office Supplies|Los Angeles|United States|  AP-109154|  Arthur Prichep|     0.0|    US|     1|2011-09-29 00:00:00|CA-2011-146969|          High|OFF-PA-10002105|           Xerox 223| 3.1104|       1|  West| 32440|    6|Consumer|2011-10-03 00:00:...|Standard Class|         1.32|California|       Paper|2011|North America|     40|
+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+
only showing top 5 rows

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [4]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [12]:
from pyspark.sql.functions import col, regexp_replace
# id_columns = [col_name for col_name in df.columns if col_name.endswith("ID")]

# for old_name in id_columns:
#     new_name = old_name.replace(".", "_")
#     df = df.withColumn(new_name, col(old_name).cast("integer"))
#     df = df.drop(old_name)

# df.printSchema()
# df.show(5, truncate=False)

id_columns = [col_name for col_name in df.columns if col_name.endswith("ID")]

# Step 3: Rename columns (replace "." with "_") and cast to integer
for old_name in id_columns:
    new_name = old_name.replace(".", "_")  # Replace "." with "_"
    
    # Use backticks to escape column names with dots
    df = df.withColumn(new_name, regexp_replace(col(f"`{old_name}`"), "[^0-9]", "").cast("integer"))
    # Alternative: If IDs are already numeric strings (e.g., "123"), use:
    # df = df.withColumn(new_name, col(f"`{old_name}`").cast("integer"))
    
    df = df.drop(f"`{old_name}`")  # Drop the original column with escaped name

# Step 4: Verify the new schema and data
df.printSchema()
# df.show(5, truncate=False)

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [13]:
id_columns = [col_name for col_name in df.columns if col_name.endswith("ID") and "." in col_name]

# Step 3: Rename columns (replace "." with "_"), cast to integer, and drop original columns
for old_name in id_columns:
    # new_name = old_name.replace(".", "_")  # Replace "." with "_"
    
    # # Create new column with cleaned and casted values
    # df = df.withColumn(new_name, regexp_replace(col(f"`{old_name}`"), "[^0-9]", "").cast("integer"))
    
    # Drop the original column
    df = df.drop(f"`{old_name}`")

df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [16]:
df.select("Customer_ID","Order_ID","Product_ID", "Row_ID").distinct().show(5)

+-----------+----------+----------+------+
|Customer_ID|  Order_ID|Product_ID|Row_ID|
+-----------+----------+----------+------+
|     100754|2013144015|  10002870| 39985|
|     127904|2012149972|  10002763| 34083|
|     111254|2013123050|  10003455| 39525|
|     100904|2011156160|  10003876| 40954|
|     106154|2014157987|  10004582| 33251|
+-----------+----------+----------+------+
only showing top 5 rows

In [17]:
df.drop("Order.ID")

DataFrame[Category: string, City: string, Country: string, Customer.ID: string, Customer.Name: string, Discount: double, Market: string, 记录数: int, Order.Date: timestamp, Order.Priority: string, Product.ID: string, Product.Name: string, Profit: string, Quantity: string, Region: string, Row.ID: string, Sales: string, Segment: string, Ship.Date: string, Ship.Mode: string, Shipping.Cost: string, State: string, Sub.Category: string, Year: string, Market2: string, weeknum: string, Customer_ID: int, Order_ID: int, Product_ID: int, Row_ID: int]

In [18]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [19]:
df1 = df.drop("Row.ID")
df1.show()

+---------------+-----------+-------------+-----------+------------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
|       Category|       City|      Country|Customer.ID|     Customer.Name|Discount|Market|记录数|         Order.Date|      Order.ID|Order.Priority|     Product.ID|        Product.Name| Profit|Quantity|Region|Sales| Segment|           Ship.Date|     Ship.Mode|Shipping.Cost|     State|Sub.Category|Year|      Market2|weeknum|Customer_ID|  Order_ID|Product_ID|Row_ID|
+---------------+-----------+-------------+-----------+------------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
|Office Supplies|Los Angeles|United States|  LS-172304|  Lycoris Saunders|     0.0|    US|     1|2011-01-07 00:00:00|CA-2011-130813|          High|OFF-PA-10002005|           Xerox 225| 9.3312|       3|  West|   19|Consumer|2011-01-09 00:00:...|  Second Class|         4.37|California|       Paper|2011|North America|      2|     172304|2011130813|  10002005| 36624|
|Office Supplies|Los Angeles|United States|  MV-174854|     Mark Van Huff|     0.0|    US|     1|2011-01-21 00:00:00|CA-2011-148614|        Medium|OFF-PA-10002893|"Wirebound Servic...| 9.2928|       2|  West|   19|Consumer|2011-01-26 00:00:...|Standard Class|         0.94|California|       Paper|2011|North America|      4|     174854|2011148614|  10002893| 37033|
|Office Supplies|Los Angeles|United States|  CS-121304|      Chad Sievert|     0.0|    US|     1|2011-08-05 00:00:00|CA-2011-118962|        Medium|OFF-PA-10000659|Adams Phone Messa...| 9.8418|       3|  West|   21|Consumer|2011-08-09 00:00:...|Standard Class|         1.81|California|       Paper|2011|North America|     32|     121304|2011118962|  10000659| 31468|
|Office Supplies|Los Angeles|United States|  CS-121304|      Chad Sievert|     0.0|    US|     1|2011-08-05 00:00:00|CA-2011-118962|        Medium|OFF-PA-10001144|          Xerox 1913|53.2608|       2|  West|  111|Consumer|2011-08-09 00:00:...|Standard Class|         4.59|California|       Paper|2011|North America|     32|     121304|2011118962|  10001144| 31469|
|Office Supplies|Los Angeles|United States|  AP-109154|    Arthur Prichep|     0.0|    US|     1|2011-09-29 00:00:00|CA-2011-146969|          High|OFF-PA-10002105|           Xerox 223| 3.1104|       1|  West|    6|Consumer|2011-10-03 00:00:...|Standard Class|         1.32|California|       Paper|2011|North America|     40|     109154|2011146969|  10002105| 32440|
|Office Supplies|Los Angeles|United States|  JF-154904|      Jeremy Farry|     0.0|    US|     1|2011-10-19 00:00:00|CA-2011-117317|      Critical|OFF-PA-10004519|Spiral Phone Mess...| 6.5856|       3|  West|   13|Consumer|2011-10-19 00:00:...|      Same Day|         2.39|California|       Paper|2011|North America|     43|     154904|2011117317|  10004519| 32890|
|Office Supplies|Los Angeles|United States|  WB-218504|     William Brown|     0.0|    US|     1|2011-11-04 00:00:00|CA-2011-125829|        Medium|OFF-PA-10000223|          Xerox 2000| 9.3312|       3|  West|   19|Consumer|2011-11-11 00:00:...|Standard Class|         1.15|California|       Paper|2011|North America|     45|     218504|2011125829|  10000223| 35608|
|Office Supplies|Los Angeles|United States|  JA-159704|      Joseph Airdo|     0.0|    US|     1|2011-11-12 00:00:00|CA-2011-151295|          High|OFF-PA-10001947|          Xerox 1974| 5.8604|       2|  West|   12|Consumer|2011-11-16 00:00:...|Standard Class|         0.92|California|       Paper|2011|North America|     46|     159704|2011151295|  10001947| 33709|
|Office Supplies|Los Angeles|United States|  SP-209204|      Susan Pistek|     0.0|    US|     1|2011-11-22 00:00:00|CA-2011-135090|          High|OFF-PA-10002245|          Xerox 1895| 24.219|       9|  West|   54|Consumer|2011-11-26 00:00:...|Standard Class|         6.98|California|       Paper|2011|North America|     48|     209204|2011135090|  10002245| 35267|
|Office Supplies|Los Angeles|United States|  RL-196154|         Rob Lucas|     0.0|    US|     1|2011-12-05 00:00:00|CA-2011-133830|        Medium|OFF-PA-10001363|          Xerox 1933|23.0864|       4|  West|   49|Consumer|2011-12-10 00:00:...|Standard Class|         1.99|California|       Paper|2011|North America|     50|     196154|2011133830|  10001363| 38866|
|Office Supplies|Los Angeles|United States|  KD-163454|  Katherine Ducich|     0.0|    US|     1|2011-12-13 00:00:00|CA-2011-113579|          High|OFF-PA-10001457|White GlueTop Scr...|41.5104|       6|  West|   90|Consumer|2011-12-15 00:00:...|  Second Class|         8.53|California|       Paper|2011|North America|     51|     163454|2011113579|  10001457| 33788|
|Office Supplies|Los Angeles|United States|  JM-161954|Justin MacKendrick|     0.0|    US|     1|2012-02-15 00:00:00|CA-2012-116092|        Medium|OFF-PA-10004285|          Xerox 1959| 6.4128|       2|  West|   13|Consumer|2012-02-18 00:00:...|  Second Class|            1|California|       Paper|2012|North America|      7|     161954|2012116092|  10004285| 33544|
|Office Supplies|Los Angeles|United States|  JM-161954|Justin MacKendrick|     0.0|    US|     1|2012-02-15 00:00:00|CA-2012-116092|        Medium|OFF-PA-10000477|            Xerox 22| 9.3312|       3|  West|   19|Consumer|2012-02-18 00:00:...|  Second Class|         0.06|California|       Paper|2012|North America|      7|     161954|2012116092|  10000477| 33548|
|Office Supplies|Los Angeles|United States|  RD-195854|          Rob Dowd|     0.0|    US|     1|2012-02-16 00:00:00|CA-2012-121776|          High|OFF-PA-10001970|          Xerox 1881|17.3148|       3|  West|   37|Consumer|2012-02-21 00:00:...|Standard Class|         4.04|California|       Paper|2012|North America|      7|     195854|2012121776|  10001970| 39431|
|Office Supplies|Los Angeles|United States|  AB-101654|       Alan Barnes|     0.0|    US|     1|2012-03-28 00:00:00|CA-2012-131534|        Medium|OFF-PA-10000743|          Xerox 1977| 16.032|       5|  West|   33|Consumer|2012-04-02 00:00:...|Standard Class|         2.25|California|       Paper|2012|North America|     13|     101654|2012131534|  10000743| 31990|
|Office Supplies|Los Angeles|United States|  AR-105404|       Andy Reiter|     0.0|    US|     1|2012-04-11 00:00:00|US-2012-136987|        Medium|OFF-PA-10003127|             Staples|24.2696|       2|  West|   53|Consumer|2012-04-14 00:00:...|  Second Class|         1.59|California|       Paper|2012|North America|     15|     105404|2012136987|  10003127| 38758|
|Office Supplies|Los Angeles|United States|  LH-171554|  Logan Haushalter|     0.0|    US|     1|2012-06-19 00:00:00|CA-2012-121965|        Medium|OFF-PA-10004355|           Xerox 231| 3.1104|       1|  West|    6|Consumer|2012-06-23 00:00:...|Standard Class|         0.52|California|       Paper|2012|North America|     25|     171554|2012121965|  10004355| 35746|
|Office Supplies|Los Angeles|United States|  AR-105104|    Andrew Roberts|     0.0|    US|     1|2012-08-31 00:00:00|CA-2012-112319|          High|OFF-PA-10003441|           Xerox 226|27.9936|       9|  West|   58|Consumer|2012-09-05 00:00:...|Standard Class|         7.98|California|       Paper|2012|North America|     35|     105104|2012112319|  10003441| 32057|
|Office Supplies|Los Angeles|United States|  NG-184304|     Nathan Gelder|     0.0|    US|     1|2012-11-22 00:00:00|CA-2012-137708|          High|OFF-PA-10000176|          Xerox 1887|18.2112|       2|  West|   38|Consumer|2012-11-25 00:00:...|  Second Class|          3.9|California|       Paper|2012|North America|     47|     184304|2012137708|  10000176| 36102|
|Office Supplies|Los Angeles|United States|  NG-184304|     Nathan Gelder|     0.0|    US|     1|2012-11-22 00:00:00|CA-2012-137708|          High|OFF-PA-10000327|          Xerox 1971|  19.26|      10|  West|   43|Consumer|2012-11-25 00:00:...|  Second Class|         6.15|California|       Paper|2012|North America|     47|     184304|2012137708|  10000327| 36103|
+---------------+-----------+-------------+-----------+------------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------+-------+--------+------+-----+--------+--------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
only showing top 20 rows

df1.printSchema()

In [20]:
df1.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [28]:
id_columns = [col_name for col_name in df.columns if col_name.endswith("ID") and "." in col_name]

# Step 3: Rename columns (replace "." with "_"), cast to integer, and drop original columns
for old_name in id_columns:
    # new_name = old_name.replace(".", "_")  # Replace "." with "_"
    
    # # Create new column with cleaned and casted values
    # df = df.withColumn(new_name, regexp_replace(col(f"`{old_name}`"), "[^0-9]", "").cast("integer"))
    
    # Drop the original column
    
    df3 = df2.drop(f"`{old_name}`")

df3.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [30]:
# Debug - Print initial columns
print("Initial columns:", df.columns)

# Dynamically detect columns ending with "ID" and containing a dot
id_columns = [col_name for col_name in df.columns if col_name.endswith("ID") and "." in col_name]
print("Detected ID columns with dots:", id_columns)

# Rename columns (replace "." with "_"), cast to integer, and drop original columns
for old_name in id_columns:
    new_name = old_name.replace(".", "_")
    print(f"Processing: {old_name} -> {new_name}")
    df= df.withColumn(new_name, regexp_replace(col(f"`{old_name}`"), "[^0-9]", "").cast("integer"))
    df4= df.drop(f"`{old_name}`")
    print(f"Dropped: {old_name}")

# Debug - Print final columns
print("Final columns:", df.columns)

# Verify the new schema and data
df4.printSchema()
df4.show(5, truncate=False)

Initial columns: ['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name', 'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority', 'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID', 'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State', 'Sub.Category', 'Year', 'Market2', 'weeknum', 'Customer_ID', 'Order_ID', 'Product_ID', 'Row_ID']
Detected ID columns with dots: ['Customer.ID', 'Order.ID', 'Product.ID', 'Row.ID']
Processing: Customer.ID -> Customer_ID
Dropped: Customer.ID
Processing: Order.ID -> Order_ID
Dropped: Order.ID
Processing: Product.ID -> Product_ID
Dropped: Product.ID
Processing: Row.ID -> Row_ID
Dropped: Row.ID
Final columns: ['Category', 'City', 'Country', 'Customer.ID', 'Customer.Name', 'Discount', 'Market', '记录数', 'Order.Date', 'Order.ID', 'Order.Priority', 'Product.ID', 'Product.Name', 'Profit', 'Quantity', 'Region', 'Row.ID', 'Sales', 'Segment', 'Ship.Date', 'Ship.Mode', 'Shipping.Cost', 'State', 'Sub.Category', 'Year', 'Market2', 'weeknum', 'Customer_ID', 'Order_ID', 'Product_ID', 'Row_ID']
root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------------------------------------------------------------+-------+--------+------+------+-----+--------+-----------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
|Category       |City       |Country      |Customer.ID|Customer.Name   |Discount|Market|记录数|Order.Date         |Order.ID      |Order.Priority|Product.ID     |Product.Name                                                              |Profit |Quantity|Region|Row.ID|Sales|Segment |Ship.Date              |Ship.Mode     |Shipping.Cost|State     |Sub.Category|Year|Market2      |weeknum|Customer_ID|Order_ID  |Product_ID|Row_ID|
+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------------------------------------------------------------+-------+--------+------+------+-----+--------+-----------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
|Office Supplies|Los Angeles|United States|LS-172304  |Lycoris Saunders|0.0     |US    |1     |2011-01-07 00:00:00|CA-2011-130813|High          |OFF-PA-10002005|Xerox 225                                                                 |9.3312 |3       |West  |36624 |19   |Consumer|2011-01-09 00:00:00.000|Second Class  |4.37         |California|Paper       |2011|North America|2      |172304     |2011130813|10002005  |36624 |
|Office Supplies|Los Angeles|United States|MV-174854  |Mark Van Huff   |0.0     |US    |1     |2011-01-21 00:00:00|CA-2011-148614|Medium        |OFF-PA-10002893|"Wirebound Service Call Books, 5 1/2"" x 4"""                             |9.2928 |2       |West  |37033 |19   |Consumer|2011-01-26 00:00:00.000|Standard Class|0.94         |California|Paper       |2011|North America|4      |174854     |2011148614|10002893  |37033 |
|Office Supplies|Los Angeles|United States|CS-121304  |Chad Sievert    |0.0     |US    |1     |2011-08-05 00:00:00|CA-2011-118962|Medium        |OFF-PA-10000659|Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”|9.8418 |3       |West  |31468 |21   |Consumer|2011-08-09 00:00:00.000|Standard Class|1.81         |California|Paper       |2011|North America|32     |121304     |2011118962|10000659  |31468 |
|Office Supplies|Los Angeles|United States|CS-121304  |Chad Sievert    |0.0     |US    |1     |2011-08-05 00:00:00|CA-2011-118962|Medium        |OFF-PA-10001144|Xerox 1913                                                                |53.2608|2       |West  |31469 |111  |Consumer|2011-08-09 00:00:00.000|Standard Class|4.59         |California|Paper       |2011|North America|32     |121304     |2011118962|10001144  |31469 |
|Office Supplies|Los Angeles|United States|AP-109154  |Arthur Prichep  |0.0     |US    |1     |2011-09-29 00:00:00|CA-2011-146969|High          |OFF-PA-10002105|Xerox 223                                                                 |3.1104 |1       |West  |32440 |6    |Consumer|2011-10-03 00:00:00.000|Standard Class|1.32         |California|Paper       |2011|North America|40     |109154     |2011146969|10002105  |32440 |
+---------------+-----------+-------------+-----------+----------------+--------+------+------+-------------------+--------------+--------------+---------------+--------------------------------------------------------------------------+-------+--------+------+------+-----+--------+-----------------------+--------------+-------------+----------+------------+----+-------------+-------+-----------+----------+----------+------+
only showing top 5 rows

In [31]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [45]:
id_columns = [col_name for col_name in dfff12.columns if col_name.endswith("ID") and "." in col_name]
print(type(id_columns))
print(id_columns)

<class 'list'>
['Customer.ID', 'Order.ID']

In [46]:
for new_col in id_columns:
    dfff12 = dftrue.drop(f"{new_col}")
    print(f"{new_col}")

dfff12.printSchema()
dftrue.printSchema()

Customer.ID
Order.ID
root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [48]:
dfff1 = dfff1.drop(*id_columns)

dfff1.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [49]:
dfff1 = dfff1.withColumnRenamed("Product.ID", "Product_ID")
dfff1.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [50]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [53]:
dot_column = [new1column for new1column in df.columns if new1column.endswith("ID") and "." in new1column]
print(dot_column)

# id_columns = [col_name for col_name in dfff12.columns if col_name.endswith("ID") and "." in col_name]

['Customer.ID', 'Order.ID', 'Product.ID', 'Row.ID']

In [54]:
for new1 in df.columns:
    print(new1)

Category
City
Country
Customer.ID
Customer.Name
Discount
Market
记录数
Order.Date
Order.ID
Order.Priority
Product.ID
Product.Name
Profit
Quantity
Region
Row.ID
Sales
Segment
Ship.Date
Ship.Mode
Shipping.Cost
State
Sub.Category
Year
Market2
weeknum
Customer_ID
Order_ID
Product_ID
Row_ID

In [57]:
for new2 in df.columns:
    df = new2.replace(".", "_")

In [58]:
df.printSchema()

AttributeError: 'str' object has no attribute 'printSchema'

In [59]:
print(df)

Row_ID

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("Optimization").getOrCreate()

df = spark.read.csv("SuperStoreOrders.csv", header = True, inferSchema=True)

filtered_df = df.filter(df.year == 2014)
filtered_df = filtered_df.filter(col("sales") > 500)

# Create a small lookup table (region to manager)
lookup_data = [
    ("North", "Alice"),
    ("South", "Bob"),
    ("Central", "Charlie"),
    ("West", "David"),
    ("Africa", "Eve"),
    ("Oceania", "Frank"),
    ("Southeast Asia", "Grace"),
    ("North Asia", "Hannah"),
    ("Central Asia", "Ian"),
    ("EMEA", "Jack")
]
lookup_df = spark.createDataFrame(lookup_data, ["region", "manager"])

# Join with lookup table
joined_df = filtered_df.join(lookup_df, "region")

# Group by region and category, calculate total sales and profit
result_df = joined_df.groupBy("region", "category").agg(
    {"sales": "sum", "profit": "sum"}
)

In [3]:
spark.stop()

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, broadcast
from pyspark.storagelevel import StorageLevel

# Initialize Spark session with tuned configurations
spark = SparkSession.builder.appName("OptimizedSuperStore").getOrCreate()
    # .config("spark.sql.shuffle.partitions", "50") \
    # .config("spark.executor.memory", "4g") \
    # .config("spark.executor.cores", "2") \
  

# Load dataset
df = spark.read.csv("SuperStoreOrders.csv", header=True, inferSchema=True)

# Combine filters and cache filtered DataFrame
filtered_df = df.filter((col("year") == 2014) & (col("sales") > 500)).cache()

# Repartition to balance data before join
filtered_df = filtered_df.repartition(50, "region")

# Create a small lookup table (region to manager)
lookup_data = [
    ("North", "Alice"),
    ("South", "Bob"),
    ("Central", "Charlie"),
    ("West", "David"),
    ("Africa", "Eve"),
    ("Oceania", "Frank"),
    ("Southeast Asia", "Grace"),
    ("North Asia", "Hannah"),
    ("Central Asia", "Ian"),
    ("EMEA", "Jack")
]
lookup_df = spark.createDataFrame(lookup_data, ["region", "manager"])

# Broadcast join with lookup table
joined_df = filtered_df.join(broadcast(lookup_df), "region")

# Group by region and category with bucketing to avoid shuffle
joined_df.write.bucketBy(50, "region").saveAsTable("bucketed_sales")
bucketed_df = spark.table("bucketed_sales")
result_df = bucketed_df.groupBy("region", "category").agg(
    {"sales": "sum", "profit": "sum"}
)

# Write results to CSV
# result_df.coalesce(1).write.csv("output_optimized.csv")

# Unpersist cached data
filtered_df.unpersist()

DataFrame[order_id: string, order_date: string, ship_date: string, ship_mode: string, customer_name: string, segment: string, state: string, country: string, market: string, region: string, product_id: string, category: string, sub_category: string, product_name: string, sales: string, quantity: string, discount: string, profit: double, shipping_cost: double, order_priority: string, year: string]

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("dfPractice").getOrCreate()

spark

In [2]:
df = spark.read.csv("superstore.csv", inferSchema=True, header=True)
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Customer.ID: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.ID: string (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.ID: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Row.ID: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)

In [3]:
id_columns=[colName for colName in df.columns if colName.endswith("ID") and "." in colName]
print(id_columns, type(id_columns))

['Customer.ID', 'Order.ID', 'Product.ID', 'Row.ID'] <class 'list'>

In [12]:
from pyspark.sql.functions import col
# for old_name in id_columns:
#     # new_name = old_name.replace(".", "_")  # Replace "." with "_"
    
#     # # Create new column with cleaned and casted values
#     # df = df.withColumn(new_name, regexp_replace(col(f"`{old_name}`"), "[^0-9]", "").cast("integer"))
    
#     # Drop the original column
    
#     df3 = df2.drop(f"`{old_name}`")

for oldColumn in id_columns:
    new_name = oldColumn.replace(".", "_")
    print("NEW", new_name, oldColumn)
    df = df.withColumn(new_name, col(f"`{oldColumn}`").cast("integer"))
    print("NEWWW", new_name, oldColumn)
    df = df.drop(oldColumn)

NEW Customer_ID Customer.ID
NEWWW Customer_ID Customer.ID
NEW Order_ID Order.ID
NEWWW Order_ID Order.ID
NEW Product_ID Product.ID
NEWWW Product_ID Product.ID
NEW Row_ID Row.ID
NEWWW Row_ID Row.ID

In [13]:
df.printSchema()

root
 |-- Category: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer.Name: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Market: string (nullable = true)
 |-- 记录数: integer (nullable = true)
 |-- Order.Date: timestamp (nullable = true)
 |-- Order.Priority: string (nullable = true)
 |-- Product.Name: string (nullable = true)
 |-- Profit: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Ship.Date: string (nullable = true)
 |-- Ship.Mode: string (nullable = true)
 |-- Shipping.Cost: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Sub.Category: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Market2: string (nullable = true)
 |-- weeknum: string (nullable = true)
 |-- Customer_ID: integer (nullable = true)
 |-- Order_ID: integer (nullable = true)
 |-- Product_ID: integer (nullable = true)
 |-- Row_ID: integer (nullable = true)

In [8]:
a=df["Country"]
df= df.drop(a)
print(df)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Country` cannot be resolved. Did you mean one of the following? [`Category`, `City`, `Customer`.`ID`, `Customer`.`Name`, `Discount`, `Market`, `记录数`, `Order`.`Date`, `Order`.`ID`, `Order`.`Priority`, `Product`.`ID`, `Product`.`Name`, `Profit`, `Quantity`, `Region`, `Row`.`ID`, `Sales`, `Segment`, `Ship`.`Date`, `Ship`.`Mode`, `Shipping`.`Cost`, `State`, `Sub`.`Category`, `Year`, `Market2`, `weeknum`].