In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder
        .appName("DataProfilingAndQualityPipeline")
        # Executor/driver configs
        .config("spark.executor.memory", "2g")
        .config("spark.driver.memory", "2g")
        .config("spark.executor.cores", "2")
        .config("spark.sql.shuffle.partitions", "8")  
        .config("spark.sql.adaptive.enabled", "true")
        .config("spark.sql.adaptive.skewJoin.enabled", "true")
        .config("spark.sql.adaptive.coalescePartitions.enabled", "true")
        .config("spark.sql.parquet.compression.codec", "snappy")
        .config("spark.sql.orc.impl", "native")
        .config("spark.sql.broadcastTimeout", "600")
        .config("spark.sql.execution.arrow.pyspark.enabled", "true")
        .getOrCreate()
)
spark

In [3]:
import re
from pyspark.sql import functions as F

input_path = "/opt/data/ncr_ride_bookings.csv"
output_path = "/data/processed/output.parquet"

def cleanColumnName(col_name):
    col_name = col_name.strip()

    col_name = re.sub(r"[.\s\-]+", "_", col_name)
    col_name = re.sub(r"[^0-9a-zA-Z_]", "", col_name)
    col_name = col_name.lower()
    col_name = re.sub(r"^_+|_+$", "", col_name)
    col_name = re.sub(r"_+", "_", col_name)
    
    return col_name

header = spark.sparkContext.textFile(input_path).first().split(",")
cleaned_headers = [cleanColumnName(h) for h in header]

df = spark.read.csv(input_path, header=True, inferSchema=True).toDF(*cleaned_headers)

In [4]:
total_rows = df.count()
report_rows = []

for col in df.columns:
    col_dtype = dict(df.dtypes)[col]
    
    # Null count
    null_count = df.filter(F.col(col).isNull() | (F.col(col) == "")).count()
    null_pct = round((null_count / total_rows) * 100, 2) if total_rows > 0 else 0.0
    
    # Distinct count
    distinct_count = df.select(col).distinct().count()
    
    # Skew metric
    skew_ratio = distinct_count / total_rows if total_rows > 0 else 0.0
    if skew_ratio < 0.3:
        skew_level = "HIGH"
    elif skew_ratio < 0.7:
        skew_level = "MEDIUM"
    else:
        skew_level = "LOW"
    
    # Numeric stats
    min_val, max_val, mean_val, stddev_val = (None, None, None, None)
    if col_dtype in ["int", "double", "float", "bigint", "decimal"]:
        stats = df.select(
            F.min(col).alias("min"),
            F.max(col).alias("max"),
            F.mean(col).alias("mean"),
            F.stddev(col).alias("stddev")
        ).first()
        min_val, max_val, mean_val, stddev_val = stats
    
    # Top-N (categorical) -> show top 3 most frequent values
    top_values = None
    if col_dtype == "string":
        top_vals = (
            df.groupBy(col).count()
              .orderBy(F.desc("count"))
              .limit(3)
              .toPandas()
              .to_dict(orient="records")
        )
        top_values = str(top_vals)  # store as string
    
    report_rows.append((
        col, col_dtype, null_count, null_pct,
        distinct_count, skew_ratio, skew_level,
        min_val, max_val, mean_val, stddev_val, top_values
    ))

# Convert to DataFrame
report_df = spark.createDataFrame(
    report_rows,
    ["column_name", "data_type", "null_count", "null_pct",
     "distinct_count", "skew_ratio", "skew_level",
     "min_val", "max_val", "mean_val", "stddev_val", "top_values"]
)

# -----------------------
# Step 4: Duplicate Rows Check
# -----------------------
duplicate_count = total_rows - df.dropDuplicates().count()
print(f"Duplicate Rows: {duplicate_count}")

# -----------------------
# Step 5: Save Outputs
# -----------------------
df.write.mode("overwrite").parquet(output_path)
report_df.show(truncate=False)

PySparkValueError: [CANNOT_DETERMINE_TYPE] Some of types cannot be determined after inferring.

In [2]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

input_path = "/opt/data/ncr_ride_bookings.csv"

# 1. Read all columns as STRING
df = spark.read.csv(input_path, header=True, inferSchema=False)

# 2. Clean headers (replace spaces, dots, etc.)
def clean_col(colname: str) -> str:
    return colname.strip().lower().replace(" ", "_").replace(".", "_")

df = df.toDF(*[clean_col(c) for c in df.columns])

# 3. Auto-detect numeric columns
numeric_cols = []
categorical_cols = []

for c in df.columns:
    # try casting to double
    test_col = df.withColumn(c + "_cast", F.col(c).cast("double"))
    non_nulls = test_col.filter(F.col(c).isNotNull()).count()
    cast_success = test_col.filter(F.col(c + "_cast").isNotNull()).count()
    
    if non_nulls > 0 and (cast_success / non_nulls) > 0.9:  # 90% values are numeric
        numeric_cols.append(c)
    else:
        categorical_cols.append(c)

print("Numeric Columns:", numeric_cols)
print("Categorical Columns:", categorical_cols)

# 4. Profiling

## --- Nulls ---
null_report = df.select([
    (F.sum(F.when(F.col(c).isNull() | (F.col(c) == ""), 1).otherwise(0))
     .alias(c + "_nulls"))
    for c in df.columns
])
null_report.show(truncate=False)

## --- Numeric profiling ---
for c in numeric_cols:
    df.select(
        F.min(F.col(c).cast("double")).alias(c + "_min"),
        F.max(F.col(c).cast("double")).alias(c + "_max"),
        F.mean(F.col(c).cast("double")).alias(c + "_mean"),
        F.stddev(F.col(c).cast("double")).alias(c + "_stddev")
    ).show()

## --- Categorical profiling ---
for c in categorical_cols:
    df.groupBy(c).count().orderBy(F.desc("count")).show(5, truncate=False)  # top 5 values

Numeric Columns: ['avg_vtat']
Categorical Columns: ['date', 'time', 'booking_id', 'booking_status', 'customer_id', 'vehicle_type', 'pickup_location', 'drop_location', 'avg_ctat', 'cancelled_rides_by_customer', 'reason_for_cancelling_by_customer', 'cancelled_rides_by_driver', 'driver_cancellation_reason', 'incomplete_rides', 'incomplete_rides_reason', 'booking_value', 'ride_distance', 'driver_ratings', 'customer_rating', 'payment_method']
+----------+----------+----------------+--------------------+-----------------+------------------+---------------------+-------------------+--------------+--------------+---------------------------------+---------------------------------------+-------------------------------+--------------------------------+----------------------+-----------------------------+-------------------+-------------------+--------------------+---------------------+--------------------+
|date_nulls|time_nulls|booking_id_nulls|booking_status_nulls|customer_id_nulls|vehicle_type_nulls|pickup_location_nulls|drop_location_nulls|avg_vtat_nulls|avg_ctat_nulls|cancelled_rides_by_customer_nulls|reason_for_cancelling_by_customer_nulls|cancelled_rides_by_driver_nulls|driver_cancellation_reason_nulls|incomplete_rides_nulls|incomplete_rides_reason_nulls|booking_value_nulls|ride_distance_nulls|driver_ratings_nulls|customer_rating_nulls|payment_method_nulls|
+----------+----------+----------------+--------------------+-----------------+------------------+---------------------+-------------------+--------------+--------------+---------------------------------+---------------------------------------+-------------------------------+--------------------------------+----------------------+-----------------------------+-------------------+-------------------+--------------------+---------------------+--------------------+
|0         |0         |0               |0                   |0                |0                 |0                    |0                  |0             |0             |0                                |0                                      |0                              |0                               |0                     |0                            |0                  |0                  |0                   |0                    |0                   |
+----------+----------+----------------+--------------------+-----------------+------------------+---------------------+-------------------+--------------+--------------+---------------------------------+---------------------------------------+-------------------------------+--------------------------------+----------------------+-----------------------------+-------------------+-------------------+--------------------+---------------------+--------------------+

+------------+------------+-----------------+------------------+
|avg_vtat_min|avg_vtat_max|    avg_vtat_mean|   avg_vtat_stddev|
+------------+------------+-----------------+------------------+
|         2.0|        20.0|8.456351971326171|3.7735638264095708|
+------------+------------+-----------------+------------------+

+----------+-----+
|date      |count|
+----------+-----+
|2024-11-16|462  |
|2024-09-18|456  |
|2024-05-09|456  |
|2024-02-06|452  |
|2024-10-12|452  |
+----------+-----+
only showing top 5 rows

+--------+-----+
|time    |count|
+--------+-----+
|17:44:57|16   |
|19:17:33|12   |
|17:54:33|11   |
|18:59:55|11   |
|17:55:08|11   |
+--------+-----+
only showing top 5 rows

+----------------+-----+
|booking_id      |count|
+----------------+-----+
|"""CNR2726142"""|3    |
|"""CNR5292943"""|3    |
|"""CNR7199036"""|3    |
|"""CNR7908610"""|3    |
|"""CNR9603232"""|3    |
+----------------+-----+
only showing top 5 rows

+---------------------+-----+
|booking_status       |count|
+---------------------+-----+
|Completed            |93000|
|Cancelled by Driver  |27000|
|No Driver Found      |10500|
|Cancelled by Customer|10500|
|Incomplete           |9000 |
+---------------------+-----+

+----------------+-----+
|customer_id     |count|
+----------------+-----+
|"""CID7828101"""|3    |
|"""CID5481002"""|3    |
|"""CID6468528"""|3    |
|"""CID4523979"""|3    |
|"""CID6715450"""|3    |
+----------------+-----+
only showing top 5 rows

+-------------+-----+
|vehicle_type |count|
+-------------+-----+
|Auto         |37419|
|Go Mini      |29806|
|Go Sedan     |27141|
|Bike         |22517|
|Premier Sedan|18111|
+-------------+-----+
only showing top 5 rows

+---------------+-----+
|pickup_location|count|
+---------------+-----+
|Khandsa        |949  |
|Barakhamba Road|946  |
|Saket          |931  |
|Badarpur       |921  |
|Pragati Maidan |920  |
+---------------+-----+
only showing top 5 rows

+---------------+-----+
|drop_location  |count|
+---------------+-----+
|Ashram         |936  |
|Basai Dhankot  |917  |
|Lok Kalyan Marg|916  |
|Narsinghpur    |913  |
|Kalkaji        |912  |
+---------------+-----+
only showing top 5 rows

+--------+-----+
|avg_ctat|count|
+--------+-----+
|null    |48000|
|24.8    |401  |
|25.9    |389  |
|28.1    |388  |
|20.5    |386  |
+--------+-----+
only showing top 5 rows

+---------------------------+------+
|cancelled_rides_by_customer|count |
+---------------------------+------+
|null                       |139500|
|1                          |10500 |
+---------------------------+------+

+--------------------------------------------+------+
|reason_for_cancelling_by_customer           |count |
+--------------------------------------------+------+
|null                                        |139500|
|Wrong Address                               |2362  |
|Change of plans                             |2353  |
|Driver is not moving towards pickup location|2335  |
|Driver asked to cancel                      |2295  |
+--------------------------------------------+------+
only showing top 5 rows

+-------------------------+------+
|cancelled_rides_by_driver|count |
+-------------------------+------+
|null                     |123000|
|1                        |27000 |
+-------------------------+------+

+-----------------------------------+------+
|driver_cancellation_reason         |count |
+-----------------------------------+------+
|null                               |123000|
|Customer related issue             |6837  |
|The customer was coughing/sick     |6751  |
|Personal & Car related issues      |6726  |
|More than permitted people in there|6686  |
+-----------------------------------+------+

+----------------+------+
|incomplete_rides|count |
+----------------+------+
|null            |141000|
|1               |9000  |
+----------------+------+

+-----------------------+------+
|incomplete_rides_reason|count |
+-----------------------+------+
|null                   |141000|
|Customer Demand        |3040  |
|Vehicle Breakdown      |3012  |
|Other Issue            |2948  |
+-----------------------+------+

+-------------+-----+
|booking_value|count|
+-------------+-----+
|null         |48000|
|176          |177  |
|125          |174  |
|200          |170  |
|408          |169  |
+-------------+-----+
only showing top 5 rows

+-------------+-----+
|ride_distance|count|
+-------------+-----+
|null         |48000|
|9.61         |43   |
|17.31        |43   |
|14.47        |42   |
|3.44         |41   |
+-------------+-----+
only showing top 5 rows

+--------------+-----+
|driver_ratings|count|
+--------------+-----+
|null          |57000|
|4.3           |14081|
|4.2           |13841|
|4.6           |9368 |
|4.4           |7018 |
+--------------+-----+
only showing top 5 rows

+---------------+-----+
|customer_rating|count|
+---------------+-----+
|null           |57000|
|4.9            |11642|
|4.6            |11533|
|4.3            |10995|
|4.2            |10697|
+---------------+-----+
only showing top 5 rows

+--------------+-----+
|payment_method|count|
+--------------+-----+
|null          |48000|
|UPI           |45909|
|Cash          |25367|
|Uber Wallet   |12276|
|Credit Card   |10209|
+--------------+-----+
only showing top 5 rows

In [4]:
from pyspark.sql import functions as F
from pyspark.sql import types as T

input_path = "/opt/data/ncr_ride_bookings.csv"

# 1. Read as string to avoid schema inference issues
df = spark.read.csv(input_path, header=True, inferSchema=False)

# 2. Clean headers
def clean_col(colname: str) -> str:
    return colname.strip().lower().replace(" ", "_").replace(".", "_")

df = df.toDF(*[clean_col(c) for c in df.columns])

# 3. Detect numeric vs categorical
numeric_cols, categorical_cols = [], []
for c in df.columns:
    test_col = df.withColumn(c + "_cast", F.col(c).cast("double"))
    non_nulls = test_col.filter(F.col(c).isNotNull()).count()
    cast_success = test_col.filter(F.col(c + "_cast").isNotNull()).count()
    if non_nulls > 0 and (cast_success / non_nulls) > 0.9:
        numeric_cols.append(c)
    else:
        categorical_cols.append(c)

# 4. Build profiling report rows
report_rows = []

row_count = df.count()

for c in df.columns:
    # base stats
    null_count = df.filter(F.col(c).isNull() | (F.col(c) == "")).count()
    null_pct = round((null_count / row_count) * 100, 2) if row_count > 0 else None
    distinct_count = df.select(c).distinct().count()
    skew_ratio = round(distinct_count / row_count, 2) if row_count > 0 else None
    if skew_ratio is None:
        skew_level = "unknown"
    elif skew_ratio < 0.1:
        skew_level = "low"
    elif skew_ratio < 0.5:
        skew_level = "mid"
    else:
        skew_level = "high"

    # column type
    data_type = "numeric" if c in numeric_cols else "categorical"

    # numeric stats
    min_val = max_val = mean_val = stddev_val = None
    if c in numeric_cols:
        stats = df.select(
            F.min(F.col(c).cast("double")).alias("min"),
            F.max(F.col(c).cast("double")).alias("max"),
            F.mean(F.col(c).cast("double")).alias("mean"),
            F.stddev(F.col(c).cast("double")).alias("stddev")
        ).collect()[0]
        min_val, max_val, mean_val, stddev_val = stats

    # top categorical values
    top_values = None
    if c in categorical_cols:
        top_vals = df.groupBy(c).count().orderBy(F.desc("count")).limit(3).collect()
        top_values = [(row[c], row["count"]) for row in top_vals]

    report_rows.append((
        c, data_type, null_count, null_pct, distinct_count,
        skew_ratio, skew_level, min_val, max_val, mean_val, stddev_val, str(top_values)
    ))

# 5. Convert to Spark DataFrame
report_df = spark.createDataFrame(
    report_rows,
    ["column_name", "data_type", "null_count", "null_pct",
     "distinct_count", "skew_ratio", "skew_level",
     "min_val", "max_val", "mean_val", "stddev_val", "top_values"]
)

report_df.show(truncate=False)

+---------------------------------+-----------+----------+--------+--------------+----------+----------+-------+-------+-----------------+------------------+----------------------------------------------------------------------------------------------+
|column_name                      |data_type  |null_count|null_pct|distinct_count|skew_ratio|skew_level|min_val|max_val|mean_val         |stddev_val        |top_values                                                                                    |
+---------------------------------+-----------+----------+--------+--------------+----------+----------+-------+-------+-----------------+------------------+----------------------------------------------------------------------------------------------+
|date                             |categorical|0         |0.0     |365           |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('2024-11-16', 462), ('2024-09-18', 456), ('2024-05-09', 456)]                               |
|time                             |categorical|0         |0.0     |62910         |0.42      |mid       |NULL   |NULL   |NULL             |NULL              |[('17:44:57', 16), ('19:17:33', 12), ('18:59:55', 11)]                                        |
|booking_id                       |categorical|0         |0.0     |148767        |0.99      |high      |NULL   |NULL   |NULL             |NULL              |[('"""CNR2726142"""', 3), ('"""CNR7908610"""', 3), ('"""CNR7199036"""', 3)]                   |
|booking_status                   |categorical|0         |0.0     |5             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('Completed', 93000), ('Cancelled by Driver', 27000), ('No Driver Found', 10500)]            |
|customer_id                      |categorical|0         |0.0     |148788        |0.99      |high      |NULL   |NULL   |NULL             |NULL              |[('"""CID7828101"""', 3), ('"""CID4523979"""', 3), ('"""CID6468528"""', 3)]                   |
|vehicle_type                     |categorical|0         |0.0     |7             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('Auto', 37419), ('Go Mini', 29806), ('Go Sedan', 27141)]                                    |
|pickup_location                  |categorical|0         |0.0     |176           |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('Khandsa', 949), ('Barakhamba Road', 946), ('Saket', 931)]                                  |
|drop_location                    |categorical|0         |0.0     |176           |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('Ashram', 936), ('Basai Dhankot', 917), ('Lok Kalyan Marg', 916)]                           |
|avg_vtat                         |numeric    |0         |0.0     |182           |0.0       |low       |2.0    |20.0   |8.456351971326171|3.7735638264095708|None                                                                                          |
|avg_ctat                         |categorical|0         |0.0     |352           |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 48000), ('24.8', 401), ('25.9', 389)]                                               |
|cancelled_rides_by_customer      |categorical|0         |0.0     |2             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 139500), ('1', 10500)]                                                              |
|reason_for_cancelling_by_customer|categorical|0         |0.0     |6             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 139500), ('Wrong Address', 2362), ('Change of plans', 2353)]                        |
|cancelled_rides_by_driver        |categorical|0         |0.0     |2             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 123000), ('1', 27000)]                                                              |
|driver_cancellation_reason       |categorical|0         |0.0     |5             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 123000), ('Customer related issue', 6837), ('The customer was coughing/sick', 6751)]|
|incomplete_rides                 |categorical|0         |0.0     |2             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 141000), ('1', 9000)]                                                               |
|incomplete_rides_reason          |categorical|0         |0.0     |4             |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 141000), ('Customer Demand', 3040), ('Vehicle Breakdown', 3012)]                    |
|booking_value                    |categorical|0         |0.0     |2567          |0.02      |low       |NULL   |NULL   |NULL             |NULL              |[('null', 48000), ('176', 177), ('125', 174)]                                                 |
|ride_distance                    |categorical|0         |0.0     |4902          |0.03      |low       |NULL   |NULL   |NULL             |NULL              |[('null', 48000), ('17.31', 43), ('9.61', 43)]                                                |
|driver_ratings                   |categorical|0         |0.0     |22            |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 57000), ('4.3', 14081), ('4.2', 13841)]                                             |
|customer_rating                  |categorical|0         |0.0     |22            |0.0       |low       |NULL   |NULL   |NULL             |NULL              |[('null', 57000), ('4.9', 11642), ('4.6', 11533)]                                             |
+---------------------------------+-----------+----------+--------+--------------+----------+----------+-------+-------+-----------------+------------------+----------------------------------------------------------------------------------------------+
only showing top 20 rows